/* .taxiMesScatter{
    display: flex;
    flex-direction: column;
} */
.taxiMesScatter .speedScatter{
    /* flex-grow: 1; */
    /* overflow: hidden; */
    width: 359.19px;
    height: 185.31px;
}
.taxiMesScatter .distanceScatter{
    /* flex-grow: 1; */
    /* overflow: hidden; */
    width: 359.19px;
    height: 185.31px;
}
.taxiMesScatter .timeScatter{
    /* flex-grow: 1; */
    /* overflow: hidden; */
    width: 359.19px;
    height: 185.31px;
}