.odmes{
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
}
.odmes .pathCluster{
    flex-basis: 50%;
    overflow: hidden;
}
.odmes .mesTable{
    flex-basis: 50%;
    overflow-y: scroll;
    overflow-x: scroll;
}