.odmes{
    display: flex;
    flex-direction: row;
}
.odmes .pathCluster{
    flex-basis: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.odmes .pathCluster .scatter{
    flex-basis: 70%;
}
.odmes .pathCluster .bar{
    flex-basis: 30%;
}
.odmes .mesTable{
    flex-basis: 50%;
    overflow-y: scroll;
    overflow-x: scroll;
}