/* 引入antd样式 */
@import 'antd/dist/reset.css';

/* 划分页面网格 */
.app {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1fr);
	grid-gap: 0.0625em;
  background-color: #d1d1d1;
}

/* 组件SystemHeader位置 */
.app .systemHeader{
  grid-column: 1 / 33;
  grid-row: 1 / 2;
}

/* 组件ControlPanel位置 */
.app .controlPanel{
  grid-column: 1 / 4;
  grid-row: 2 / 33;
  background-color: #fff;
}

/* 组件Map位置 */
.app .map{
  grid-column: 4 / 17;
  grid-row: 2 / 21;
  background-color: #fff;
}

/* 组件TaxiMesScatter位置 */
.app .taxiMesScatter{
  grid-column: 17 / 26;
  grid-row: 2 / 21;
  background-color: #fff;
}

/* 组件TravelEmissionVary位置 */
.app .travelEmissionVary{
  grid-column: 4 / 17;
  grid-row: 21 / 33;
  background-color: #fff;
}

/* 组件Barometer样式 */
.app .barometer{
  grid-column: 17 / 33;
  grid-row: 21 / 33;
  background-color: #fff;
}

/* 组件ODFlow样式 */
.app .odflow{
  grid-column: 4 / 7;
  grid-row: 21 / 33;
  background-color: #fff;
}